
body {
  background-color: #434A54;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    justify-content: center;

  
}
    .hero-img{
        align-items: flex-start;
    }
        #hero-image {
        overflow: visible;
            width: 200px;
            height: inherit;
            /* z-index: 1; */
        } 
    .title{
        align-items: center;
        margin-left: -10%;
    }
        h1 {
            text-align: center;
            font-size: 6vh;
            font-family: 'Babylonica', cursive;
            transform: translate(9vw);
            color: #3BAFDA;
            font-weight: 700;
            text-transform: uppercase;
            /* z-index: 0; */
            
        }

 .carousel{
     display: flex;
     justify-content: center;
     
 }

    .carousel-item {
        border: solid 5px#967ADC;
    }


#video-container {
    background-color: #EC87C0;
}
/* Css:
check, Hero has no background color just the logo and title 
check,floating at the top Title color: Aqua #3BAFDA
check, Background: Dark Gray #434A54
carousel top 50: Lavendar #967ADC 
Carousel Favories: Grapefruit #DA4453
Carousel backgrounds: Dark Gray #434A54
Artist info: Medium Gray #CCD1D9
<h1>: Light Gray #E6E9ED
How to texts: Medium Gray #AAB2BD
Play button: Grass #8CC152
Forward/Back button: Blue Jeans #4A89DC
Soundcloud Artist Link Button: BitterSweet #FC6E51
Youtube Video Link Button: Pink Rose #EC87C0
All Buttons: hover: waves
Palette
https://dribbble.com/shots/1186718-Flattastic-Pro-Color-Palette/attachments/156469?mode=media
Ui plugin(s) */
