
body {
  background: linear-gradient(180deg, #434A54, #030303);
  background-size: 300% 300%;
/

}

/* container1 */
#hero {
    background-color: #E9573F;
    border: solid 5px #FC6E51;

}
.hero-img{
    align-items: flex-start;
    } 
    #hero-img {
        overflow: visible;
        width: 200px;
        height: inherit;
        z-index: 1;
    } 
#title{
    align-items: center;
    justify-content: center;
}
    h1 {
        flex: 1;
        text-align: center;
        font-size: 6vh;
        font-family: 'Gloria Hallelujah', cursive;
        transform: translate(9vw);
        color: #3f2da5;
        font-weight: 700;
        text-transform: uppercase;
        z-index: 0;
        
    }

    #topTracks {
        /* margin-left: -9em; */
        text-align: center;
        font-size: 4vh;
        font-family: 'Gloria Hallelujah', cursive;
        transform: translate(9vw);
        color: #967ADC;
        font-weight: 700;
        text-transform: uppercase;
        z-index: 0;
    }

    #myPlaylist {
        /* margin-left: -9em; */
        text-align: center;
        font-size: 4vh;
        font-family: 'Gloria Hallelujah', cursive;
        transform: translate(9vw);
        color: #DA4453;
        font-weight: 700;
        text-transform: uppercase;
        z-index: 0;
    }
/* container 3 */
/* carousel 1 */
    #carousel-item1 {
    /* border: solid 3px #967ADC; */
    }

    #carousel-item2 {
        /* border: solid 3px #DA4453; */
    }

#carousel1 {
    background-color: #967ADC;
    border: solid 5px #AC92EC;
}


#carousel2 {
    background-color: #DA4453;
    border: solid 5px #ED5565;
}

/* container 4 */
#audioLink{
    background-color: #FC6E51;
}
#youtubeLink{
    background-color: #F6BB42;
}

.margin{
    margin-top: 2rem;
}

.btn{
    background-color: #8CC152;
    cursor: pointer;
    color: black;

}

.btn:hover {
    background-color: #8bc152be;
}
/* carousel 2 */






/* Css:
check, Hero has no background color just the logo and title 
check,floating at the top Title color: Aqua #3BAFDA
check, Background: Dark Gray #434A54
carousel top 50: Lavendar #967ADC 
Carousel Favories: Grapefruit #DA4453
Carousel backgrounds: Dark Gray #434A54
Artist info: Medium Gray #CCD1D9
<h1>: Light Gray #E6E9ED
How to texts: Medium Gray #AAB2BD
Play button: Grass #8CC152
Forward/Back button: Blue Jeans #4A89DC
Soundcloud Artist Link Button: BitterSweet #FC6E51
Youtube Video Link Button: Pink Rose #EC87C0
All Buttons: hover: waves
Palette
https://dribbble.com/shots/1186718-Flattastic-Pro-Color-Palette/attachments/156469?mode=media
Ui plugin(s) */
