
body {
  background-color: #434A54;
}

/* container1 */
.hero-img{
    align-items: flex-start;
    } 
    #hero-img {
    overflow: visible;
        width: 200px;
        height: inherit;
        z-index: 1;
    } 
#title{
    margin-left: -7em;
    align-items: center;
    justify-content: center;
}
    h1 {
        flex: 1;
        text-align: center;
        font-size: 6vh;
        font-family: 'Babylonica', cursive;
        transform: translate(9vw);
        color: #3BAFDA;
        font-weight: 700;
        text-transform: uppercase;
        z-index: 0;
        
    }
/* container2 */
#rewind{
   background-color: #4A89DC;
}
#play{
    background-color: #8CC152;
}
#pause{
    background-color: #A0D468;
}
#fastForward{
    background-color: #4A89DC;
}

/* container 3 */
/* carousel 1 */
    #carousel-item {
        border: solid 5px#967ADC;
    }


#video-container {
    background-color: #DA4453;
    border: solid 5px#967ADC;
}

/* container 4 */
#audioLink{
    background-color: #FC6E51;
}
#youtubeLink{
    background-color: #F6BB42;
}

.margin{
    margin-top: 2rem;
}
/* carousel 2 */






/* Css:
check, Hero has no background color just the logo and title 
check,floating at the top Title color: Aqua #3BAFDA
check, Background: Dark Gray #434A54
carousel top 50: Lavendar #967ADC 
Carousel Favories: Grapefruit #DA4453
Carousel backgrounds: Dark Gray #434A54
Artist info: Medium Gray #CCD1D9
<h1>: Light Gray #E6E9ED
How to texts: Medium Gray #AAB2BD
Play button: Grass #8CC152
Forward/Back button: Blue Jeans #4A89DC
Soundcloud Artist Link Button: BitterSweet #FC6E51
Youtube Video Link Button: Pink Rose #EC87C0
All Buttons: hover: waves
Palette
https://dribbble.com/shots/1186718-Flattastic-Pro-Color-Palette/attachments/156469?mode=media
Ui plugin(s) */
